<ion-modal [isOpen]="isShowModal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Избранное</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="close(false)"
          >
            Закрыть
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="beersList.length">
        <app-beer
          *ngFor="let beer of beersList"
          [beer]="beer"
          (click)="goToDetail(false, beer.id)" />
      </div>
      <p
        *ngIf="!beersList.length"
         style="font-size: 18px; font-weight: bold; text-align: center; text-wrap: normal"
      >
        Вы ничего не добавили в избранное
      </p>
    </ion-content>
  </ng-template>
</ion-modal>
